<div  class="index">

  
    <div class="index__container">
      <img src="../img/img6.jpg" alt="" class="rounded-circle index__img mt-3">
      <div class="d-flex align-items-center textos">

        <div class="d-flex align-items-center animate__animated animate__fadeInLeft contenedor__title">
          <h1 class="mx-1 border-right px-2 slide2__title">Prueba <br> ADH</h1>   
          <p class="mx-2" style="color: white;">Sistema de información estadística del Huila. </p>
        </div>
        
        <h1 class="mx-5 animate__animated animate__fadeOut">¡Bienvenido!</h1>
      </div>
    </div>
  
</div>

{{!-- <div>
  <div>
    <img src="../img/index/welcome_page.jpg" class="welcomePage__img mx-auto d-block" alt="">

  </div>
</div> --}}
   

   

            
