<footer class="footer">

  <div class="container">
    <div class="row text-center">

      <div class="col-6 col-lg border-right">
        <img src="/img/minsalud.svg" class="mx-auto mt-4">
      </div>

      <div class="col-6 col-lg mt-4">        
        <img src="/img/LUNIVERSITY.svg" class="" width="100" alt=""/>                  
      </div>    
      
      <div class="col-6 col-lg border-right border-left p-2">

        <h3 class="mb-4 font-weight-bold">Síguenos</h3>

        <ul class="list-unstyled d-flex flex-column align-items-start justify-content-start">
          <li>
            <a href="https://www.instagram.com/hospital_universitario_neiva/" target="_blank" class="d-flex justify-content-center entidad">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-instagram mx-2" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <rect x="4" y="4" width="16" height="16" rx="4" />
                <circle cx="12" cy="12" r="3" />
                <line x1="16.5" y1="7.5" x2="16.5" y2="7.501" />
              </svg>

              <p class="mx-2">Instagram</p>
            </a>
          </li>

          <li>
            <a href="https://www.youtube.com/@hospitaluniversitariodenei2490" target="_blank" class="d-flex justify-content-center entidad">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-youtube mx-2" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <rect x="3" y="5" width="18" height="14" rx="4" />
                <path d="M10 9l5 3l-5 3z" />
              </svg>

              <p class="mx-2"> Youtube</p>
            </a>
          </li>

          <li>
            <a href="https://www.facebook.com/huhmpn" target="_blank" class="d-flex justify-content-center entidad">
              <svg xmlns="http://www.w3.org/2000/svg" class="icon icon-tabler icon-tabler-brand-facebook mx-2" width="30" height="30" viewBox="0 0 24 24" stroke-width="1" stroke="#ffffff" fill="none" stroke-linecap="round" stroke-linejoin="round">
                <path stroke="none" d="M0 0h24v24H0z" fill="none"/>
                <path d="M7 10v4h3v7h4v-7h3l1 -4h-4v-2a1 1 0 0 1 1 -1h3v-4h-3a5 5 0 0 0 -5 5v2h-3" />
              </svg>

              <p class="mx-2">Facebook</p>  
            </a>
          </li>

        </ul>  
      </div> 

      <div class="col-6 col-lg border-right p-2 entidades">
        <h3 class="entidades_title mb-4 font-weight-bold">Otras entidades</h3>

        <ul class="list-unstyled lista-entidad">
          <li class="mb-3 entidad">
            <a href="https://www.huila.gov.co/salud/publicaciones/5284/secretario-de-salud/" target="_blank"> <p>Secretaria de salud del Huila</p> </a>
          </li>

          <li class="mb-3 entidad">
            <a href="https://www.gov.co/home/" target="_blank"> <p>Gobernación del Huila</p> </a>
          </li>

          <li class="mb-3 entidad">
            <a href="https://www.minsalud.gov.co/Portada2021/index.html" target="_blank"> <p>Ministerio de salud</p> </a>
          </li>
        </ul>
      </div> 
      
      <div class="col-12 col-lg">
        <img src="/img/logo_geti_blanco.png" alt="" width="60%" class="mx-auto mt-4">
      </div>

    </div>
  </div>        
</footer>


