
<div class="text-center p-0 mt-0 bd-highlight">   
    <h1 class="font-weight-bold ">ADH</h1>   
    <h3 class="font-weight-bold ">Sistema de información</h3>   
    <h4 class="font-weight-bold ">Sistema hospitalario del Huila</h4>  
   {{!--  <p>El sistema de información para administrar las pruebas PSA en los hospitales del Departamento del Huila </p>      --}}       
</div>

<div id="carouselExampleSlidesOnly" class="carousel slide carousel-fade my-5" data-bs-ride="carousel" data-bs-interval="8000">
  <div class="carousel-inner">
    <div class="carousel-item card active" style="max-width: 30rem; margin: 0 auto;">
      <h1 class="card-header text-center">Hormona antidiurética (ADH)</h1>
      <div class="card-body">
        <img src="../img/tubo_ensayo.webp" class="mx-auto d-block img-fluid" width="450" alt="">
        <p class="text-justify">
        También es conocida como Vasopresina, Arginina vasopresina, ADH, AVP. <br> 
        Este examen se hace para detectar, diagnosticar y determinar la causa de una deficiencia, resistencia o exceso de hormona antidiurética (ADH). <br> 
        También se hace para evaluar una baja concentración de sodio en sangre (hiponatremia) y para distinguir los dos tipos de diabetes insípida.
        </p>
      </div>
    </div>

    <div class="carousel-item card" style="max-width: 30rem; margin: 0 auto;">
      <h1 class="card-header text-center">¿Cuándo debo hacerme el análisis?</h1>
      <div class="card-body">
        <img src="../img/img6.jpeg" class="rounded mx-auto d-block img-fluid " width="450" alt="">
        <p class="text-justify"> Se debe realizar cuando la concentración de sodio en sangre está disminuida o se presenta una sed persistente, necesidad frecuente de orinar y deshidratación. La determinación de este examen se realiza a partir de una muestra de sangre venosa del brazo.</p>
      </div>
    </div>

    <div class="carousel-item card" style="max-width: 30rem; margin: 0 auto;">
      <h1 class="card-header text-center">¿Necesito preparación para este examen?</h1>
      <div class="card-body">
        <img src="../img/index_muestra.jpg" class="rounded mx-auto d-block img-fluid " width="450" alt="">
        <p class="text-justify"> No, no se necesita ninguna preparación especial. Sin embargo, es importante consultar al médico en el caso de que la prueba sea parte de una prueba de restricción hídrica o de sobrecarga hídrica.</p>
      </div>
    </div>

  </div>
</div>





